@import 'jeet'
@import 'bootstrap'
@import 'rupture'

edit()

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak
  display none !important
html
  box-sizing border-box
*, *:before, *:after
  box-sizing inherit
button.btn.btn-block.btn-login
    background-color #2b2b2b
    color white
    opacity 1
    i
      margin-right 10px
button.btn.btn-block.btn-facebook
    margin-top -20px
    background-color #3B5998
    color white
    i
      margin-right 10px
button.btn.btn-block.btn-google-plus
    background-color #DD4B39
    color white
    i
      margin-right 10px
h4
  margin-top 15px
  text-align center

#topBar
  margin-bottom 35px
  col(1)
  #topBar1
    col(1/5 1)
    min-width 80px
  #topBar2
    col(3/5 1)
    display inline-block
    +below(800px)
        width 45%
    button
      width 80px
      display inline-block
      +below(800px)
        margin auto
        display block
    input
      display inline-block
      width calc(100%/3 - 100px/3)
      +below(800px)
        width 100%
        display block
  #topBar3
    col(1/5 1)
    min-width 100px
