@import 'jeet'
@import 'rupture'

//edit()

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak
  display none !important
html
  box-sizing border-box
*, *:before, *:after
  box-sizing inherit
button.btn.btn-block.btn-login
    background-color #2b2b2b
    color white
    opacity 1
    i
      margin-right 10px
button.btn.btn-block.btn-facebook
    margin-top -20px
    background-color #3B5998
    color white
    i
      margin-right 10px
button.btn.btn-block.btn-google-plus
    background-color #DD4B39
    color white
    i
      margin-right 10px
h4
  margin-top 15px
  text-align center

@keyframes pulsate {
  0% {transform: scale(0.3, 0.3); opacity: 0.0;}
  50% {opacity: 1.0;}
  100% {transform: scale(1.2, 1.2); opacity: 0.0;}
}

.grow
  transition all .2s ease-in-out
  &:hover
    transform scale(1.1)

.md-errors-spacer
  display none

body
  padding 15px
.cont
  margin-top 15px
  display flex
  flex-direction column
  max-width 1000px
  margin 0 auto
  #search
    form
      display flex
      flex-direction column
      align-items center
      justify-content space-around
      width 100%
      md-input-container
        width 60%
        +below(625px)
          width 100%
      input
        margin-right 15px
        width 100%
  #nav
    padding-top 15px
    ul
      display flex
      align-items center
      justify-content space-around
      width 100%
      padding 0
      list-style-type none
      i
        cursor pointer
      img
        height 50px
        transform rotate(90deg)
      li
        display inline-block
        &:not(:first-child)
          padding-left 25px
      #compasspadding
        padding-right 25px
      #compass
        position absolute
        transform translate(0, 30px)
        transition all .2s ease-in-out
        &:hover
          transform scale(1.1) translate(0, 27px)
      #locationLi
        width 30%
        md-input-container
         width 100%
        input
          width 100%
