@import 'jeet'
@import 'bootstrap'
@import 'rupture'

edit()

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak
  display none !important
html
  box-sizing border-box
*, *:before, *:after
  box-sizing inherit
button.btn.btn-block.btn-login
    background-color #2b2b2b
    color white
    opacity 1
    i
      margin-right 10px
button.btn.btn-block.btn-facebook
    margin-top -20px
    background-color #3B5998
    color white
    i
      margin-right 10px
button.btn.btn-block.btn-google-plus
    background-color #DD4B39
    color white
    i
      margin-right 10px
h4
  margin-top 15px
  text-align center

.cont
  margin-top 25px
  max-width 1200px
  margin-left auto
  margin-right auto
  display flex
  justify-content center
  #topBar
    display flex
    align-items center
    margin-bottom 35px
    col(1)
    #topBar1
      img
        width 46px
      margin 0 0 0 15px
      list-style-type none
      col(1/4 1)
      min-width 125px
    #topBar2
      col(3/4 1)
      display inline-block
      +below(800px)
        width 68%
      label
        position abolute
        transform translateX(16px)
        +below(800px)
          transform translate(16px, 7px)
      #location
        padding-left 56px
        margin-left -39px
        +below(800px)
          margin-top -25px
          margin-left 0px
      button
        width 80px
        display inline-block
        +below(800px)
          margin auto
          display block
      input
        display inline-block
        width 26%
        +below(800px)
          margin-bottom 10px
          width 100%
          display block
